body {
  background: black;
  color: #ffffff;
  font-family: monospace;
  font-size: 20px;

  max-width: 960px;
  margin: 0px auto;
}

button,
input {
  background-color: inherit !important;
  color: inherit !important;
  font: inherit !important;
}

button {
  margin: 0 0.5em !important;
}

input {
  border: 1px solid white !important;
}

select {
  font: inherit;
  background: inherit;
  color: inherit;
  border: 1px solid white;
}

a {
  color: white;
}

#draw-result-container {
  display: flex;

  .draw-result {
    margin: 0 auto;
  }
}

h2 {
  color: #358aff;
}

blockquote {
  border-left: 3px solid white;
  padding-left: .5em;
  color: #ddd;
}
