.card-art-viewer {
  transform-style: preserve-3d;
  transition: transform 0.35s;
  transition-timing-function: ease-out;
}

.card-art-viewer.facedown {
  transition-timing-function: ease-in;
  transform: rotateY(180deg);
}

.card-art-viewer img {
  border: 1px solid white;
  backface-visibility: hidden;
}

.card-art-viewer img.front {
  position: absolute;
}

.card-art-viewer img.front.reversed:not(:hover) {
  transform: rotate(180deg);
}

.card-art-viewer img.back {
  transform: translateZ(-1px) rotateY(180deg);
}
