.draw-result {
  display: flex;
  flex-direction: row;

  .card-info {
    padding-left: 2em;
    font-size: 80%;
    max-width: 520px;

    max-height: 540px;
    display: flex;
    flex-direction: column;

    .interpretation {
      overflow-y: scroll;
    }
  }

  .card-name {
    text-align: center;
  }

  .card-art-viewer {
    margin: 10px auto;
  }
}
