.draw-result {
  display: flex;
  flex-direction: row;

  .card-info {
    padding-left: 2em;
    font-size: 80%;
    max-width: 500px;
  }

  .card-name {
    text-align: center;
  }

  .card-art-viewer {
    margin: 10px auto;
  }
}
