.draw-result {
  display: flex;
  flex-direction: column;
}

.draw-result .card-name {
  text-align: center;
}

.draw-result img.card {
  border: 1px solid white;
  margin: 10px auto;
}

.draw-result img.reversed {
  transform: rotate(180deg);
}
