nav.navbar {
  border: 1px solid white;
  border-top: 0;
  cursor: pointer;
  background: #181818;
  user-select: none;

  a {
    text-decoration: none;
    display: inline-block;
  }

  .dropdown-header,
  a {
    padding: .7em 1em;
  }

  .dropdown {
    display: inline-block;
    position: relative;
    margin: 0;

    .dropdown-content {
      display: none;
      border: 1px solid white;
      position: absolute;
      z-index: 100;
      background: #181818;

      a {
        display: block;
      }
    }

    &:hover .dropdown-content {
      display: initial;
    }
  }

  .dropdown:hover {
    background: #444444;
  }
  a:hover {
    background: #003ae3;
  }
}
