nav.navbar {
  border: 1px solid white;
  border-top: 0;
  cursor: pointer;
  background: #181818;
  user-select: none;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  >ul>li {
    display: inline-block;
    position: relative;
    margin: 0;

    .navbar-content {
      padding: .7em 1em;
    }

    .dropdown-content {
      display: none;
      border: 1px solid white;
      position: absolute;
      background: #181818;

      li {
        padding: .5em 1em;
        display: block;
      }
    }

    &:hover .dropdown-content {
      display: initial;
    }
  }

  .navbar-content,
  .dropdown-content li {
    &:hover {
      background: #003ae3;
    }
  }
}
